body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.panel-heading {
  padding: 2px 2px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: black;
}

.div-style {
  padding: 10px 10px;
}

.header-style {
  background: linear-gradient(to left, #000099 0%, #99ccff 100%);
  height: 50px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  color: white;  
  vertical-align: middle;
  text-align: right;
  display:-webkit-box;
  -webkit-box-pack:end;
  -webkit-box-align:center;
}

.footer-style {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}